.box {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(50px);
  color: #fff;
  display: flex;
  //background-color: #12121240;
}

.title {
  font-size: 4rem;
}

.subtitle {
  font-size: 3.5rem;
}

.left {
  float: left;
  padding-right: 2rem;
}

.right {
    float: left;
}
.img {
  width: 100vh;
}
